<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cars</key>
	<array>
		<dict>
			<key>Price</key>
			<string>2000</string>
			<key>MPG</key>
			<string>10</string>
			<key>Top Speed</key>
			<string>10</string>
			<key>0-60</key>
			<string>10</string>
			<key>BHP</key>
			<string>10</string>
			<key>Image</key>
			<string>Audi</string>
			<key>Name</key>
			<string>Audi</string>
		</dict>
		<dict>
			<key>Price</key>
			<string>11</string>
			<key>MPG</key>
			<string>11</string>
			<key>Top Speed</key>
			<string>11</string>
			<key>0-60</key>
			<string>11</string>
			<key>BHP</key>
			<string>11</string>
			<key>Image</key>
			<string>Ferrari</string>
			<key>Name</key>
			<string>Ferrari</string>
		</dict>
		<dict>
			<key>Price</key>
			<string>12</string>
			<key>MPG</key>
			<string>12</string>
			<key>Top Speed</key>
			<string>12</string>
			<key>0-60</key>
			<string>12</string>
			<key>BHP</key>
			<string>12</string>
			<key>Image</key>
			<string>Lambo</string>
			<key>Name</key>
			<string>Lambo</string>
		</dict>
		<dict>
			<key>Price</key>
			<string>14</string>
			<key>MPG</key>
			<string>14</string>
			<key>Top Speed</key>
			<string>14</string>
			<key>0-60</key>
			<string>14</string>
			<key>BHP</key>
			<string>14</string>
			<key>Image</key>
			<string>Merc</string>
			<key>Name</key>
			<string>Merc</string>
		</dict>
	</array>
</dict>
</plist>
